body {
    font-family: Arial, sans-serif;
    background: url('backgroundds.png') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="number"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.back-to-home {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    z-index: 9999; /* Ensure it's above other elements */
}